@import "../reset";

.delete-category{color:red;font-size:15px;padding-right:10px;padding-top:3px}
.table-list-order {
	th {
		text-align: center;
	}

	tr {
		td {

		}

	}
}
.user-image {
	max-width: 200px;
	border: 2px solid silver;
}